{% extends 'base.html.twig' %}

{% block title %}Hare mate
{% endblock %}

{% block body %}

{% if app.user %}


	<section id="cta" class="cta">
		<div class="text-center">
			<h3>
				<span>Tu as des competences</span>
				Crée un profil et rejoins notre equipe de Freelancer</h3>
			<a class="cta-btn" href="{{path('profil')}}">Profil</a>
		</div><br><br>

		<div class="text-center">
			<h3>Demandes</h3>
			<p>
				Rechercher dans notre base de données les meilleurs profils pour t'aider dans tes activités
			</p>
			<a class="cta-btn" href="{{path('free')}}">Demandez un service</a>
		</div>

	</div>
</section>
{% endif %}
{% endblock %}
