<form method="post" action="{{ path('secteur_delete', {'id': secteur.id}) }}" onsubmit="return confirm('Etes vous sur de vouoir supprimer cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
