{% extends 'base.html.twig' %}

{% block title %}Nouvelle Secteur{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Secteur</h1>

    {{ include('secteur/_form.html.twig') }}

    <a href="{{ path('secteur_index') }}">Retourner</a>
{% endblock %}
